.header{
    background-color: red;
    grid-area: h;
}
.img{
    height: 180px;
    width: 270px;
    margin: 0;
    padding: 0;
}
.header span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-style: italic;
    color:white;
}